*{
    padding: 0;
    margin: 0;
}

input {
    padding-left: 10px;
}





/* ##################################################################### */
/* ############################# Page Login ############################ */
/* ##################################################################### */

.imgBGNice{
    background-image: url('/images/VilleNice.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
     
}

.heightLogin{

    height: 480px;
    background-color: rgba(229, 227, 227,);
    width: 400px;
    margin-top: 13vh;
}

.mdpForget{
    padding-top: 50px;
}



.heightInput{
    height:40px;
    border:none;   
    background-color: #fff !important;
    border-bottom: 1px solid;
    

}

.fontOswaldLabel{
    font-family: 'Oswald', sans-serif;
    
}

.montSerraFontConnect{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    font-weight: 600;
}
.montSerraFont{
    font-family: 'Montserrat', sans-serif;
    
    font-weight: 600;
}


.buttonConnect{
    height: 60px;
    border:none;
    border-radius: 10px;
    background-color: rgb(60, 64, 64);
    
    color: white;
}
.transparent{
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
}

/* ##################################################################### */
/* ############################# AdminIndex ############################ */
/* ##################################################################### */

.table-row-height{
    height: 50px;
}

/* ##################################################################### */
/* ############################# Page Mot de Passe ##################### */
/* ##################################################################### */

.imgBGNiceSoir{
    background-image: url('/images/niceVilleSoir.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;     
}

.heightLoginCard{

    height: 280px;
    background-color: rgba(229, 227, 227,);
    width: 400px;
    margin-top: 30vh;
}