#map{
    width: 100%;
    height: 750px;
}

.legend {
    display: flex; 
    justify-content: center;
    margin: 15px;
 
  }
  
  .legend-item {
    display: flex;
    align-items: center;

  }
  
  .legend-color {
    width: 100px; /* Taille de la couleur */
    height: 30px; /* Taille de la couleur */
    margin-right: 10px;
    border: 2px solid black;
    text-align: center;
    
     /* Marge de 10px entre la couleur et le texte */
  }

  .montSerraFont{
    font-family: 'Montserrat', sans-serif;
    
    font-weight: 600;
}



