


.legend {
   
  

  }

  .legend-item {
    display: flex;
    align-items: center;

  }

  .legend-color {
    width: 100px; /* Taille de la couleur */
    height: 30px; /* Taille de la couleur */
    margin-right: 10px;
    border: 2px solid black;
    text-align: center;

     /* Marge de 10px entre la couleur et le texte */
  }

  .legend-color1 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 5px;
}

.legend-label {
    font-size: 14px;
}

  .montSerraFont{
    font-family: 'Montserrat', sans-serif;

    font-weight: 600;
}

.table{
    font-family: 'Montserrat', sans-serif;
}
.t_title{
    font-size:1.4em;
    margin-top: 40px;
    margin-bottom:40px;
}
td{
    text-align: center;
}
th{
  text-align: center;
}

.buttonSvgStyle{
  color:black;
  text-decoration: none;
}


#mapContainer {
  display: flex;
}

#map {
  flex: 1;
  transition: flex 1s; /* Ajout d'une transition fluide */
  max-width: 100%;
  height: 90vh;
}

#infoPanel {
  flex: 0;
  width: 30%;
  max-width: 30%;
  background-color: #f0f0f0;
  overflow: auto; /* En cas de contenu débordant */
  display: none; /* Par défaut, le panneau d'informations est masqué */
}

.clicked #map {
  flex: 0.7; /* Réduit la taille de la carte lors du clic sur un marqueur */
}

.clicked #infoPanel {
  flex: 0.3; /* Augmente la taille du panneau d'informations lors du clic sur un marqueur */
  display: block; /* Affiche le panneau d'informations lors du clic sur un marqueur */
}